.myInfo {
    transform: translateY(0);
    position: fixed;
    z-index: 2;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.2rem 0.2rem 1rem;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}