@import "_nc_share.scss";
.notify-list {
    position: fixed;
    top: .2rem;
    right: 5vw;
    max-width: 300px;
    z-index: 998;
    // background-color: lightseagreen;
    width: 80vw;
    transition: all ease-in-out .3s;
    .msg {
        width: 100%;
    }
    .notify {
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: .2rem .2rem;
        margin: .1rem 0;
        background-color: #fff;
        animation: shadeSlideIn ease-in-out .3s;
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: all ease-in-out .3s;
        box-shadow: 0 0 12px rgba(0, 0, 0, .04), 0 0 8px rgba(0, 0, 0, .08), 0 0 4px rgba(0, 0, 0, .12);
        .operation {
            @include flex();
            width: 100%;
            justify-content: space-between;
            padding: .05rem 0;
            .title-wrap {
                @include flex()
            }
            .title {
                padding: .1rem 0;
                padding-left: .1rem;
                font-size: .35rem;
                font-weight: bold;
                @include ellipse(1);
            }
            .sign {
                display: inline-block;
                width: .35rem;
                margin: .1rem .1rem .1rem 0;
                height: .35rem;
                font-size: .35rem;
                margin-right: .1rem;
                border-radius: 50%;
                &.success {
                    color: lightseagreen;
                }
                &.danger {
                    color: lightcoral;
                }
                &.warn {
                    color: lightsalmon;
                }
                &.info {
                    color: lightgrey;
                }
            }
            .close-notify {
                padding: .1rem 0;
                // float: right;
                margin-right: .1rem;
                display: inline-block;
                height: .4rem;
                .iconfont {
                    font-size: .3rem;
                    vertical-align: middle;
                    display: block;
                }
            }
        }
        &>.info {
            @include flex();
            flex-direction: column;
            justify-content: space-evenly;
            padding: .1rem 0 0 .55rem;
            .msg {
                font-size: .30rem;
                width: 95%;
                padding: .05rem 0 .1rem;
                display: inline-block;
                word-break: break-all;
                word-spacing: .05rem;
                line-height: .4rem;
            }
        }
    }
    .notify-leave {
        animation: shadeSlideOut ease-in-out .4s;
    }
}

@keyframes shadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shadeSlideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}