@import './nc_share';
@import './VForm.scss';
.auth {
    height: 100%;
    .login {
        background-color: rgba($color: #fff, $alpha: .2);
        height: 100%;
        padding: 40% 1rem 1rem;
        box-sizing: border-box;
        font-size: .5rem;
        overflow: hidden;
        .btn {
            margin-bottom: .2rem;
        }
        .vform {
            margin-top: 1rem;
        }
        .vform-item {
            margin: .2rem 0;
        }
    }
    .login {
        .options {
            a {
                display: inline-block;
                float: right;
                color: cornflowerblue;
                font-size: .3rem;
            }
        }
    }
    .btn {
        margin-left: 0;
        margin-right: 0;
        border-color: #ccc;
    }
}