@import './nc_share';
@import './VForm.scss';
.auth {
    height: 100%;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1rem;
        width: 80%;
        top: 55%;
        left: -2rem;
        transform: rotate(-60deg);
        z-index: 1;
        background-color: rgba($color: #07689f, $alpha: .6);
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1rem;
        width: 80%;
        top: 45%;
        right: -2rem;
        transform: rotate(-60deg);
        z-index: 1;
        background-color: rgba($color: #ffc93c, $alpha: .6);
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }
    .login {
        background-color: rgba($color: #fff, $alpha: .2);
        height: 100%;
        padding: 3rem 1rem 1rem;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        font-size: .5rem;
        overflow: hidden;
        .btn {
            margin-bottom: .2rem;
        }
        .vform {
            margin-top: 1rem;
        }
        .vform-item {
            margin: .2rem 0;
        }
    }
    .login {
        .options {
            a {
                display: inline-block;
                float: right;
                color: cornflowerblue;
                font-size: .3rem;
            }
        }
    }
    .btn {
        margin-left: 0;
        margin-right: 0;
        border-color: #ccc;
    }
}