@import './_nc_share.scss';
#main-header {
    position: relative;
    z-index: 5;
    .head {
        font-size: .4rem;
        padding: .1rem .3rem;
        position: fixed;
        width: 100%;
        border-bottom: 1px solid #ccc;
        height: 1.1rem;
        background-color: rgba($color: #07689f, $alpha: 1);
        color: #ffffff;
        z-index: 3;
        @include flex();
        .head-avatar {
            display: block;
            position: relative;
            border-radius: 50%;
            border: 1px solid rgba(0,0,0,.2);
        }
        .head-info {
            @include flex();
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            padding: 0rem .2rem;
            position: relative;
            height: 120%;
            margin: -5px 0 0 0;
            word-spacing: .12rem;
            // margin-left: 2rem;
            .username {
                color: #a2d5f2;
                word-spacing: normal;
            }
        }
    }
    .date {
        position: fixed;
        top: 1.3rem;
        right: 0;
        height: .6rem;
        clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 70% 100%);
        padding-left: 0;
        font-size: .3rem;
        line-height: .6rem;
        text-align: right;
        font-weight: bold;
        background-color: rgba($color: #ffc93c, $alpha: 1);
        width: 100%;
        color: #222222;
        padding-right: .2rem;
        transition: all ease-in-out .3s;
        span {
            padding: .1rem;
        }
    }
    .head-date {
        position: fixed;
        z-index: 2;
        top: .6rem;
        right: 0;
        height: .6rem;
        line-height: .6rem;
        clip-path: polygon(63% 0%, 100% 0%, 100% 100%, 68% 100%);
        font-size: .27rem;
        text-align: right;
        font-weight: bold;
        background-color: rgba($color: #ffc93c, $alpha: 1);
        width: 100%;
        border: none;
        outline: none;
        transition: all ease-in-out .3s;
        transform: translateY(.6rem);
        opacity: 0;
    }
    .slideDown {
        transform: translateY(.6rem);
    }
}
