@import './nc_rem';
@import './nc_share';
@import 'header.scss';
@import 'footer.scss';
@import '_nc_what-list.scss';
@import '_nc_myInfo.scss';
@import '_nc_add-schedule.scss';
#content {
    position: relative;
    height: 100%;
    user-select: none;
}

#app {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}