.vform {
    overflow: auto;
    height: 100%;
}

.vform-item {
    font-size: .35rem;
    margin: .8rem 0;
    .vform-item-label {
        font-weight: bold;
        padding: .1rem 0;
        color: #333;
    }
    .vform-item-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: all ease .3s;
        width: 100%;
        border-width: 1px;
        vertical-align: middle;
        box-sizing: border-box;
        outline: none;
        font-size: 0;
        height: 0;
        padding: 0;
        border-bottom: 1px solid rgba($color: #07689f, $alpha: .2);
        background-color: transparent;
        &:focus,
        &:valid {
            border: none;
            border-bottom: 2px solid rgba($color: #07689f, $alpha: 1);
            font-size: .28rem;
            height: .7rem;
            padding: .1rem .05rem;
        }
    }
    .vform-item-msgbox {
        font-size: .08rem;
        padding: .1rem .02rem;
    }
}