@import './nc_share';
.what-form-wrap {
    transition: all ease-in-out .4s;
    transform: translateY(0);
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0.4rem 0;
    margin-bottom: 1rem;
    margin-top: 3rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    box-sizing: border-box;
    background-color: #eeeeee;
    overflow: hidden;
    @include flex;
    flex-direction: column;
    .form-title {
        height: 10%;
        display: block;
        font-size: .5rem;
        word-spacing: .1rem;
        padding: .2rem 0;
        font-weight: normal;
        text-align: center;
        line-height: .45rem;
        a.close-what-form {
            position: absolute;
            right: .3rem;
        }
        .iconfont {
            color: #000;
            vertical-align: middle;
        }
    }
    .addByModule{
        height: 10%;
        display: block;
    }
    .form-wrapper{
        flex:1;
        display: block;
        max-height: 80%;
    }
    .vform {
        height: 100%;
    }
}

.what-form-wrap.hide {
    transform: translateY(100%);
}
