body,
html {
  height: 100%;
  background-color: rgba(162, 213, 242, 0.75); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.btn.btn-1 {
  width: 8.33333%; }

.btn.btn-2 {
  width: 16.66667%; }

.btn.btn-3 {
  width: 25%; }

.btn.btn-4 {
  width: 33.33333%; }

.btn.btn-5 {
  width: 41.66667%; }

.btn.btn-6 {
  width: 50%; }

.btn.btn-7 {
  width: 58.33333%; }

.btn.btn-8 {
  width: 66.66667%; }

.btn.btn-9 {
  width: 75%; }

.btn.btn-10 {
  width: 83.33333%; }

.btn.btn-11 {
  width: 91.66667%; }

.btn.btn-12 {
  width: 100%; }

.btn {
  display: inline-block;
  padding: .2rem .2rem;
  box-sizing: border-box;
  margin: .05rem;
  border-width: 1px;
  font-weight: bold; }
  .btn:active {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15) inset; }

.btn-wrap {
  display: block;
  display: flex;
  margin-left: -.05rem; }

.btn.btn-default {
  background-color: #eee;
  border: 1px solid #ddd; }

.btn.btn-success {
  background-color: #00b8a9;
  background-position: 1px 1px;
  color: #efefef;
  border: 1px solid #ddd; }

.btn.btn-primary {
  background-color: rgba(7, 104, 159, 0.6);
  color: #efefef;
  border: 1px solid #ddd; }

.btn.btn-danger {
  background-color: lightcoral;
  color: #efefef;
  border: 1px solid #ddd; }

@keyframes shadeIn {
  0% {
    display: none;
    transform: translateY(50%); }
  100% {
    display: block;
    transform: translateY(0); } }

@keyframes shadeOut {
  0% {
    display: block;
    transform: translateY(0); }
  100% {
    display: none;
    transform: translateY(100%);
    animation-play-state: paused; } }

.vform {
  overflow: auto; }
  .vform .btn-wrap {
    margin-bottom: .2rem; }
    .vform .btn-wrap button {
      border-color: #777; }

.vform-item {
  font-size: .35rem;
  margin: .8rem 0;
  box-sizing: border-box; }
  .vform-item .vform-item-label {
    font-weight: bold;
    padding: .1rem 0;
    color: #333; }
  .vform-item .vform-item-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all ease .3s;
    width: 100%;
    border-width: 1px;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
    font-size: 0;
    height: 0;
    padding: 0;
    border-bottom: 1px solid rgba(7, 104, 159, 0.2);
    background-color: transparent; }
    .vform-item .vform-item-control:focus, .vform-item .vform-item-control:valid {
      border: none;
      border-bottom: 2px solid #07689f;
      font-size: .28rem;
      height: .6rem;
      padding: .1rem .05rem 0; }
  .vform-item .vform-item-msgbox {
    font-size: .25rem;
    padding: .1rem .02rem;
    color: red;
    height: .35rem;
    box-sizing: border-box; }

.vform-item.valid-fail .vform-item-control {
  border: none;
  border-bottom: 2px solid red;
  font-size: .28rem;
  height: .6rem;
  padding: .1rem .05rem 0; }

.auth {
  height: 100%;
  position: relative;
  z-index: 1; }
  .auth::before {
    content: "";
    transition: all ease-in-out .3s;
    animation: slideLeft ease-in-out 1s;
    display: block;
    position: absolute;
    height: 1rem;
    width: 80%;
    top: 55%;
    left: -2rem;
    transform: rotate(-60deg);
    z-index: 1;
    background-color: rgba(7, 104, 159, 0.8);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    filter: blur(2px); }
  .auth::after {
    content: "";
    transition: all ease-in-out .3s;
    animation: slideRight ease-in-out 1s;
    display: block;
    position: absolute;
    height: 1rem;
    width: 80%;
    top: 45%;
    right: -2rem;
    transform: rotate(-60deg);
    z-index: 1;
    background-color: rgba(255, 201, 60, 0.8);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    filter: blur(2px); }
  .auth .login {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    padding: 3rem 1rem 1rem;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    font-size: .5rem;
    overflow: hidden; }
    .auth .login .btn {
      margin-bottom: .2rem; }
    .auth .login .vform {
      margin-top: 1rem; }
    .auth .login .vform-item {
      margin: .2rem 0; }
  .auth .login .options a {
    display: inline-block;
    float: right;
    color: cornflowerblue;
    font-size: .3rem; }
  .auth .btn {
    margin-left: 0;
    margin-right: 0;
    border-color: #ccc; }
  .auth .mask {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0; }

@keyframes slideLeft {
  0% {
    transform: translateX(-100%) rotate(-60deg); }
  100% {
    transform: translateX(0) rotate(-60deg); } }

@keyframes slideRight {
  0% {
    transform: translateX(100%) rotate(-60deg); }
  100% {
    transform: translateX(0) rotate(-60deg); } }
