body,
html {
  height: 100%; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.btn.btn-1 {
  width: 8.33333%; }

.btn.btn-2 {
  width: 16.66667%; }

.btn.btn-3 {
  width: 25%; }

.btn.btn-4 {
  width: 33.33333%; }

.btn.btn-5 {
  width: 41.66667%; }

.btn.btn-6 {
  width: 50%; }

.btn.btn-7 {
  width: 58.33333%; }

.btn.btn-8 {
  width: 66.66667%; }

.btn.btn-9 {
  width: 75%; }

.btn.btn-10 {
  width: 83.33333%; }

.btn.btn-11 {
  width: 91.66667%; }

.btn.btn-12 {
  width: 100%; }

.btn {
  display: inline-block;
  padding: .2rem .2rem;
  box-sizing: border-box;
  margin: .05rem;
  border-width: 1px;
  font-weight: bold; }
  .btn:active {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15) inset; }

.btn-wrap {
  display: block;
  display: flex;
  margin-left: -.05rem; }

.btn.btn-default {
  background-color: #eee;
  border: 1px solid #ddd; }

.btn.btn-success {
  background-color: #00b8a9;
  background-position: 1px 1px;
  color: #efefef;
  border: 1px solid #ddd; }

.btn.btn-primary {
  background-color: rgba(7, 104, 159, 0.6);
  color: #efefef;
  border: 1px solid #ddd; }

.btn.btn-danger {
  background-color: lightcoral;
  color: #efefef;
  border: 1px solid #ddd; }

@keyframes shadeIn {
  0% {
    display: none;
    transform: translateY(50%); }
  100% {
    display: block;
    transform: translateY(0); } }

@keyframes shadeOut {
  0% {
    display: block;
    transform: translateY(0); }
  100% {
    display: none;
    transform: translateY(100%);
    animation-play-state: paused; } }

#main-header {
  position: relative;
  z-index: 5; }
  #main-header .head {
    font-size: .4rem;
    padding: .1rem .3rem;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 1.1rem;
    background-color: #07689f;
    color: #ffffff;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #main-header .head .head-avatar {
      display: block;
      position: relative;
      border-radius: 50%;
      border: 1px solid #3f3f3f; }
    #main-header .head .head-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      padding: 0rem .2rem;
      position: relative;
      height: 120%;
      margin: -5px 0 0 0;
      word-spacing: .12rem; }
      #main-header .head .head-info .username {
        color: #a2d5f2;
        word-spacing: normal; }
  #main-header .date {
    position: fixed;
    top: 1.3rem;
    right: 0;
    height: .6rem;
    clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 70% 100%);
    padding-left: 0;
    font-size: .3rem;
    line-height: .6rem;
    text-align: right;
    font-weight: bold;
    background-color: #ffc93c;
    width: 100%;
    color: #222222;
    padding-right: .2rem;
    transition: all ease-in-out .3s; }
    #main-header .date span {
      padding: .1rem; }
  #main-header .head-date {
    position: fixed;
    z-index: 2;
    top: .6rem;
    right: 0;
    height: .6rem;
    line-height: .6rem;
    clip-path: polygon(63% 0%, 100% 0%, 100% 100%, 68% 100%);
    font-size: .27rem;
    text-align: right;
    font-weight: bold;
    background-color: #ffc93c;
    width: 100%;
    border: none;
    outline: none;
    transition: all ease-in-out .3s;
    transform: translateY(0.6rem);
    opacity: 0; }
  #main-header .slideDown {
    transform: translateY(0.6rem); }
