.vform {
  overflow: auto;
  height: 100%; }
  .vform .btn-wrap {
    margin-bottom: .2rem; }
    .vform .btn-wrap button {
      border-color: #777; }

.vform-item {
  font-size: .35rem;
  margin: .8rem 0;
  box-sizing: border-box; }
  .vform-item .vform-item-label {
    font-weight: bold;
    padding: .1rem 0;
    color: #333; }
  .vform-item .vform-item-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all ease .3s;
    width: 100%;
    border-width: 1px;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
    font-size: 0;
    height: 0;
    padding: 0;
    border-bottom: 1px solid rgba(7, 104, 159, 0.2);
    background-color: transparent; }
    .vform-item .vform-item-control:focus, .vform-item .vform-item-control:valid {
      border: none;
      border-bottom: 2px solid #07689f;
      font-size: .28rem;
      height: .6rem;
      padding: .1rem .05rem 0; }
  .vform-item .vform-item-msgbox {
    font-size: .25rem;
    padding: .1rem .02rem;
    color: red;
    height: .35rem;
    box-sizing: border-box; }

.vform-item.valid-fail .vform-item-control {
  border: none;
  border-bottom: 2px solid red;
  font-size: .28rem;
  height: .6rem;
  padding: .1rem .05rem 0; }
